.hero {
  background: linear-gradient(135deg, #160202, #000000);
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.neon-text {
  color: #0ff;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #00f;
}


.btn-neon {
  background: rgb(103, 25, 139);
  color: #000;
  font-weight: bold;
  border: 2px solid #0ff;
  box-shadow: 0 0 10px #0ff;
  transition: all 0.3s ease-in-out;
}

.btn-neon:hover {
  background: rgb(185, 33, 173);
  color: white;
  border-color: #00f;
  box-shadow: 0 0 40px rgb(105, 21, 126);
}


.carousel-inner img {
  width: 100%;
  height: 400px; 
  object-fit: cover;
  border-radius: 10px;
}


.game-card {
  background: #000000;
  color: white;
  border: 1px solid #0ff;
  box-shadow: 0 0 10px #0ff;
  transition: box-shadow 0.3s ease-in-out;
  margin: 20px; 
  border-radius: 10px; 
}

.game-card:hover {
  box-shadow: 0 0 15px #00f;
}

.game-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}
